.font-jost-100 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.font-jost-500 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.font-jost-600 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.font-jost-700 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.font-jost-800 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.font-jost-900 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}